* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: #F6E2EB;
}

/*
main {
    margin-left: 20px;
    margin-right: 20px;
}
*/ 

.row {
    display: flex;
    justify-content: center;
    
}

.search, .meal {
    border-style: dotted;
}

