@font-face {
    font-family: 'Bebas Neue';
    src: local('assets/BebasNeue-Regular.ttf');
}

.p-5,
.hero,
h3 {
    font-family: 'Bebas Neue', sans-serif;
}

/* Header */
.p-5 {
    position: relative;
    z-index: 1;
    margin-left: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Hero section */
.hero {
    margin-top: 30px;
}

.hero-text {
    font-size: 60px;
    margin-left: 500px;
    margin-right: 500px;
}

.hero-subtitle {
    font-size: 20px;
    margin-bottom: 50px;
}

.hero-search {
    margin-bottom: 30px;
}

.hero-search input[type="search"] {
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 16px;
}

.hero-search button[type="button"] {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
}

/* Landing grid */

h3 {
    text-align: left;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.grid-item {
    height: 300px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 20px;
    border-radius: 20px;
    margin: 30px;
}

.search-column {
    background-color: #6f3841;
    padding: 20px;
    color: white;
    border-radius: 20px;
    border-right: 2px solid white;
    margin-right: 30px;
}

.meal-column {
    background-color: #6f3841;
    padding: 20px;
    color: white;
    border-radius: 20px;
    border-left: 2px solid white;
}

.search-column h3,
.meal-column h3 {
    color: white;
}